footer {
  margin-top: 50px;
  padding: 25px 2vw;
  background: $colorBg;
  display: flex;
  flex-wrap: wrap;
  font-size: 150%;
  & > * {
    flex: 1 1 250px;
    @media screen and (max-width: 900px) {
      flex: 1 1 100%;
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    
    margin: 5px;
    img{
      max-width: 100%;
    }
  }
  .btn-kofi{
    display: flex;
    img{
      height: 100%;
      min-height: 50px;
      max-width: 100%;
      object-fit: contain;
    }
  }
  .btn-scroll-to-top{
    text-align: center;
    cursor: pointer;
    background: $colorBg;
    width: 100%;
    &:hover{
      color: lighten($color4, 20);
      svg path{
        color: lighten($color4, 20);
      }
    }
  }
}
